
<div>
    <h1>Bienvenido</h1>
    {{#if admin }}
    <h2>Usted es Administrador del sistema!</h2>
    {{/if}}
    <p>{{user.first_name}}</p>
    <p>{{user.last_name}}</p>
    <p>{{user.email}}</p>
    <p>{{user.age}}</p>

    <p id="cid" style="display: none;">{{cart}}</p>
</div>

<form id="logoutButton">
    <input value="Logout" type="submit" name="logout"
        aria-label="Cerrar sesión">
</form>

<a href="/api/views/documents">Link para añadir Documents</a>
<br>
<br>
<a href="/api/views/userAdmin">Modificar usuarios</a>
<br>
<br>
<a href="/api/views/cart">Ir al carrito</a>
<br>
<br>

{{#each products}}
<tr class='p-5'>

    <td>{{_doc.title}}</td>
    <td>{{_doc.description}}</td>
    <td>${{_doc.price}}</td>
    <td>{{_doc.code}}</td>
    <td>{{_doc.stock}}</td>
    <td>{{_doc.status}}</td>
    <td>{{_doc.thumbnails}}</td>
    <td>{{_doc.category}}</td>
</tr>

<form class="addToCartForm">
    <input type="hidden" class="productId" value="{{_doc._id}}">
    <button type="button" class="addToCartButton btn btn-primary">Agregar al carrito</button>
</form>
{{/each}}

{{#if response.hasPrevPage }}
<a href="{{response.prevLink}}">Anterior pagina</a>
{{/if}}
{{#if response.hasNextPage}}
<a href="{{response.nextLink}}">Siguiente pagina</a>
{{/if}}

<script src="/js/logout.js"></script>
<script src="/js/addToCart.js"></script>
