<div>
    <h3>{{_doc.title}}</h3>
    <p>{{_doc.description}}</p>
    <p>Precio: {{_doc.price}}</p>

<form action='/api/cart/655550e17bb82ecac25bfa26/products/{{_doc._id}}' method='POST'>
        
        <button type='submit' class='btn btn-primary'>Agregar al carrito</button>
    </form>

    {{!-- <a method='PUT' href="/api/cart/65541d0cda7555441756fef7/products/{{_doc._id}}">Añadir al carrito</a> --}}
</div>
