<!-- views/realTimeProducts.handlebars -->

<h1 class="container">Lista de Productos en Tiempo Real</h1>

<table class="container m-5">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Precio</th>
            <th>Código</th>
            <th>Cantidad en stock</th>
            <th>Status</th>
            <th>Categoría</th>
        </tr>
    </thead>
    <tbody class="container text-start p-5 text-danger">
        {{#each prodsRender}}
            <tr class="p-5">
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{description}}</td>
                <td>${{price}}</td>
                <td>{{code}}</td>
                <td>{{stock}}</td>
                <td>{{status}}</td>
                <td>{{thumbnails}}</td>
                <td>{{category}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

    <div class="container m-5">
        <h1>Crear nuevo producto</h1>
        <form action="/realtimeproducts/product" , method="POST">
            <div class="form-group">
                <label for="nombre">Nombre</label>
                <input name='title' type="text" class="form-control" id="title" placeholder="Nombre del producto">
            </div>
            <div class="form-group">
                <label for="descripcion">Descripción</label>
                <textarea name='description' class="form-control" id="description" placeholder="Descripción"></textarea>
            </div>
            <div class="form-group">
                <label for="precio">Precio</label>
                <input name='price' type="text" class="form-control" id="price" placeholder="1500">
            </div>
            <div class="form-group">
                <label for="codigo">Código</label>
                <input name='code' type="text" class="form-control" id="code" placeholder="abc1234">
            </div>
            <div class="form-group">
                <label for="cantidad">Cantidad en stock</label>
                <input name='stock' type="text" class="form-control" id="stock" placeholder="25">
            </div>
            <div class="form-group">
                <label for="cantidad">Imagenes</label>
                <input name='thumbnails' type="text" class="form-control" id="thumbnails" placeholder="25">
            </div>
            <div class="form-group">
                <label for="status">Status</label>
                <select name='status' class="form-control" id="status">
                    <option value="X">Active</option>
                    <option value="">Inactive</option>
                </select>
            </div>
            <div class="form-group">
                <label for="categoria">Categoría</label>
                <input name='category' type="text" class="form-control" id="category" placeholder="Enter Categoría">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>

